@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.bodyText{

    background-color: rgba(0, 0, 0, 0.274);
    text-align: left;
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vw;
    padding: min(3vw,30px);
    font-size: min(2.5vw,23px);
    font-family: Lato, "sans-serif";
    border-radius: 2vw;
}