.layout {
  display: flex;
  height:  calc(100vh - 32px);


  margin: 16px;
  border-radius: 16px;
  overflow: hidden;

  background-color:  #00000059;; /* outer shell */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.content {
  flex: 1;
  padding: 24px;
  background-color:  #11111117;; /* inner content */
  color: #e5e7eb;
  overflow-y: auto;
}
