@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(21, 206, 135);
  --background-end-rgb: rgb(12, 149, 167);
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom right, var(--background-start-rgb),var(--background-end-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
